.BlogsPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    .blog{
        background-color: #161925;
        width: 100%;
        padding: 1rem;
        overflow: hidden;
        .blog-content{
            img{
                width: 100%;
                transition: all .4s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}