
.ServicesSection{
    .service{
        width: 95%;
        // background-color: #26202A;
        background-color: #003333;
        // border-left: 1px solid #2e344e;
        // border-right: 1px solid #2e344e;
        // border-bottom: 1px solid #2e344e;
        // border-top: 5px solid #2e344e;
        border-left: 1px solid #009933;
        border-right: 1px solid #009933;
        border-bottom: 1px solid #009933;
        border-top: 5px solid #009933;
        transition: all .4s ease-in-out;
        &:hover{
            // border-top: 8px solid #037FFF;
            border-top: 8px solid #00FF00;

        }
        .service-content{
            color: rgb(228, 228, 228);
            padding: 1rem;
            .img{
                color: #00FF00;
                size: 1px;
            }
            .s-title{
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 1px;
                    background-color: #2e344e;
                }
            }
        }
    }
}

.services-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}