.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


.hero-text{
    color: #DCDCDC;
    text-align: center;
    font-size: 3.6rem;
    span{
        color: #33CC00;
    }
}

.h-sub-text{
    text-align: center;
    color: #DCDCDC;
    padding-bottom: 2rem;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder{
        margin-right: 1rem;
        .icon{
           font-size: 2.8rem;
           color: #00CC00;
           transition: all .4s ease-in-out;
        }
        .fb:hover{
            color: #DCDCDC;
        }
        .gh:hover{
            color: #DCDCDC;
        }
        .yt:hover{
            color: #DCDCDC;
        }
    }
}